/* === Content Style === */

#content {
  // Add padding to all sides of the content so that text doesn't appear
  //   squashed against the screen, aside, or header
  padding: 1em;

  // TODO REMOVE
  background-color: rgb(50, 50, 50);
}

/* Set size and location of video and image elements */
#content img, #content video {
  // Display images and videos on their own lines
  display: block;

  // Make images/videos take up all available space
  width: 100%;
  height: auto;
}
