/* Describes styling for the main navigation bar */

nav {
  background-color: $color-primary;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.nav-currentitem {
  background-color: $color-primary-dark;
}

nav a {
  text-decoration: none; /* Remove all underlines from links in the nav */
  display: block;
  padding: 1em;
  text-shadow: 0px 2px 2px rgba(0,0,0,0.2);
}

/* Nav hover makes item animate to color-primary-light */
nav a:hover {
  background-color: $color-primary-light;
}

nav a:active {
  background-color: $color-primary-dark;
}

nav a, nav a:visited, nav a:hover, nav a:active {
  color: $color-text-highlight;
}

/* Site Title/Logo to be aligned to the left and act as a home button */
#site-title {
  font-family: $font-site-title;
  font-size: $font-size-site-title;
  color: $color-text-site-title;
  text-shadow: 0px 2px rgba(0,0,0,0.2);
  display: block;
  padding: 0.5em;
}

/* Div of links in navigation bar to be aligned to the right */
#nav-rightitems {
  /* By making this a flex-box and setting flex-wrap: wrap on the parent, we
       are preventing the individual elements in this box from wrapping when
       the screen shrinks. We want instead for the whole div to wrap */
  display: flex;
}
