$color-primary: #e7f4ed;
$color-primary-light: #ffffff;
$color-primary-dark: #b5c1bb;
$color-primary-text: #000000;

$color-secondary: #ffcc80;
$color-secondary-light: #ffffb0;
$color-secondary-dark: #ca9b52;
$color-secondary-text: #000000;
