$color-primary: #a5d6a7;
$color-primary-light: #d7ffd9;
$color-primary-dark: #75a478;

$color-secondary: #c4c4c4;
$color-secondary-light: #f7f7f7;
$color-secondary-dark: #949494;

$color-text: #000000;
$color-text-highlight: #480070; /* Dark Purple */
$color-text-highlight2: #700000; /* Dark Red */
$color-text-highlight3: #001DAD; /* Deep Blue */
$color-text-site-title: #00422B; /* Dark Green */
