/*
  Describes styling for title, subtitle, metadata, and other to be displayed
    just above the page's main content.
*/

#post-title, #post-subtitle {
  font-family: font-heading;
  text-align: center;
  color: $color-text-highlight2;
  text-shadow: 0px 0px 8px white,
               0px 0px 8px white;
}
