// Global Styling
html, body {
  // Make page extend all of the way down
  height: 100%;

  // Make page extend to each side
  width: 100%;

  // Make margin 0 so that we can use all available screen space
  margin: 0;
}

// Global Variables
@import 'palette';
@import 'typography';

// Layouts
@import 'project-page';

// Styles / Elements
@import 'content';
@import 'aside';
@import 'project-header';
