<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link
      href="https://fonts.googleapis.com/css?family=Grenze:700|Roboto&display=swap"
      rel="stylesheet"
    >
  </head>
  <body
    {% if page.bg-img %}
    style="background-image:
    linear-gradient(to right, rgba(181,193,187,1), rgba(231,244,237,0.2)),
    url({{ page.bg-img }})"
    {% endif %}
  >
    {% include navigation.html %}
    {% include pre-content.html %}
    <div class="main-content">
      {{ content }}
    </div>
  </body>
</html>
